{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Bought or Sold</th>
                <th>Shares</th>
                <th>Cost/Selling Price</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row.symbol }}</td>
                    {% if row.shares > 0 %}
                        <td>Bought</td>
                    {% else %}
                        <td>Sold</td>
                    {% endif %}
                    <td>{{ abs(row.shares) }}</td>
                    <td>{{ usd(row.price) }}</td>
                    <td>{{ row.date }}</td>
                    <td>{{ row.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
